@import '../abstracts/variables';

.primaryBtn,
.secondaryBtn {
    height: 36px;
    width: 141px;
    border-radius: 5px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.primaryBtn {
    color: $deepPurple;
    background-color: transparent;
    border: 1.5px solid $deepPurple;
    outline: none;
}

.secondaryBtn {
    color: white;
    outline: none;
    background-color: $deepPurple;
}

.bottomBtn {
    color: white;
    height: 36px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #394167;
    margin-bottom: 30px;
    cursor: pointer;
}