@import "../../assets//styles/layout/header";

.smHeader{
    border-bottom: 10px solid #A0EBE7;
}

.pageContainer {
    width: 100%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 80px;
}