@import "../../assets//styles/layout/header";

.smHeader{
    box-shadow:0px 2px 2.62px rgba(0, 0, 0, 0.23);
    border-bottom: 10px solid #A0EBE7;
    h1{
        color:#394167
    }
}

.pageContainer {
    width: 100%;
    margin: auto;
    padding-top: 0px;
    margin-bottom: 120px;
}