@import '../../assets/styles/main.scss';
@import "../../assets/styles/abstracts/variables";

.navBarContainer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: $offWhite;
    box-shadow: 0px -2px 2.62px rgba(0, 0, 0, 0.23);

    .iconContainer {
        padding: 10px;

        .navBarIcons {

            &:hover {
                fill: $deepPurple;
                cursor: pointer;
            }
        }
        .navBarIcons.toggled {
            fill: $deepPurple;
        }
    }
}
