// Monochrome 
// $backgroundColor: #ffffff;
// $primaryColor: #000000;
// $secondaryColor: #c2c2c2;
// $tertiaryColor: #505050;
// $fontColour: #000000;

// Light mode

/* =========================================================================================================
                                               COLOUR PALETTES
/* =======================================================================================================*/


// Tatiana's Colour Palette

$orange: #FF9201;
$lightBlue: #4BBFE8;
$turquoise: #4DC6B8;
$midBlue: #199FB7;
$deepPurple: #074B77;
$black: #042621;
$offWhite: #FFFDF8;
$deepPurple: #394167;
$sunnyYellow: #f2de29;
$icyPurple: #a3a6fb;
$waddleRed: #eb758a;
$beakOrange: #ff9d1c;

$paleYellow: #FFFad6;
$palePurple: #EAE9F7;
$paleGreen: #DFF8F1;
$paleBlue: #D6F0F3;

// 1. 
$backgroundColor: #f9f4e7;
$colourTwo: #f9f4e7;
$colourThree: #FFD5C2;
$colourFour: #F28F3b;
$colourFive: #C8553D;
$colourSix: #588B8B;
$fontColour: #000000;


/* =========================================================================================================
                                               TYPOGRAPHY
/* =======================================================================================================*/

// Font sizes converted from pt to px, from Tatiana's Figma Sheet

// Main Content - p tags etc.
$baseFontSize: 14px;

// Header font sizes
$h1FontSize: 1.5rem;
$h2FontSize: 1.1rem;
$h3FontSize: 1.1rem;
$h4FontSize: 1.2rem;















//Jake's 1
// $backgroundColor:#E4F9FF;
// $primaryColor:#0077B6;
// $secondaryColor:#4FCAFF;
// $tertiaryColor:#4FCAFF;

//Jake's 2
// $backgroundColor:#FFF5F1;
// $primaryColor:#F58764;
// $secondaryColor:#F58764;
// $tertiaryColor:#929191;

// Dark mode

//1.
// $colourOne: #182039;
// $colourTwo: #212b4e;
// $colourThree: #212b4e;
// $colourFour: #554df0;
// $colourFive: #f6d365;
// $colourSix: #3e64ff;
// $fontColour: #dadada;

// 2. 
// $colourOne: #33313b;
// $colourTwo: #3c4f65;
// $colourThree: #834c69;
// $colourFour: #e6f5ff;
//$font-colour: #ffffff;


// 3. 
// $colourOne: #4c5f7a;
// $colourTwo: #393e6f;
// $colourThree: #3d2e4f;
// $colourFour: #321d2f;
//$font-colour: #ffffff;


//4.
// $colourOne: #03040A;
// $colourTwo: #0D22FF;
// $colourThree: #2E2E4C;
// $colourFour: #DBE3F0;
// $colourFive: #A0ADE5;
// $colourSix: #A18E63;
//$font-colour: #ffffff;